<div class="parallax">
    <div class="titulo">
        <span class="medicos">Medicos</span>
    </div>
    
    <ul>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Eduardo Bórquez Núñez</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/26.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Cardiología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Cardio- Oncología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad Católica de la Santísima Concepción (2003), y especialista en Medicina Interna por la Universidad de Chile. Especialista en Cardiología por la misma casa de estudios.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dra. Marianne Kolbach</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/79.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Dermatología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Medicina interna y piel, dermatitis atópica, laserterapia</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Médico Cirujano por la Pontificia Universidad Católica de Chile (2000). Especialista en Dermatología por la misma casa de estudios (2003). Miembro Sociedad Chilena de Dermatología.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">María Alejandra Araya Silva</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/81.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Kinesiología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Extremidad Superior</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Kinesióloga por la Universidad Andres Bello (2012). Diplomado en Terapia Manual en Artro Músculo Esquelético por la Universidad de Chile.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. César Bustos Guillén</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/31.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Infectología</span>
                        <span class="tituloD"></span>
                        <span class="descripcion">Medicina Interna</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Infecciones de prótesis articulares, infecciones en pacientes con cáncer, Infecciones de transmisión sexual</span>
                        
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad Universidad Católica de Santiago de Guayaquil (2000). Especialista en Medicina Interna (2005) por la Universidad de los Andes.</span>
                    </div>
                </div>
            </div>
            
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Francisco Espinoza Villegas</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/53.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Medicina Interna</span>
                        <span class="tituloD"></span>
                        <span class="descripcion">Reumatología Adulto</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Artritis Reumatoide, Lupus Eritematoso Sistémico, Terapia Celular</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad de los Andes (2006), y especialista en Medicina Interna por la misma casa de estudios. Especialista en Reumatología por Universidad de Montpellier (Francia).</span>
                        
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dra. María Soledad Oltra Reyes</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/2.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Medicina Interna</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Manejo y cuidado integral del paciente, prevención y manejo de enfermedades agudas y crónicas, medicina paliativa</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Especialista en Medicina Interna por la Universidad de Valparaíso (2006). Máster en Atención Paliativa Integral a Personas con Enfermedades Avanzadas por Universidad Autónoma de Barcelona (España).</span>
                        
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Juan Pablo Cleary Wellmann</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/21.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Neurología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Neurooftalmología</span>
                        <span class="tituloD"></span>
                        <span class="descripcion">Demencia</span>
                        <span class="tituloD"></span>
                        <span class="descripcion">Déficit atencional</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripcion:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad de Valparaíso (1995), y especialista en Neurología por la Universidad de Santiago.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Marcela Ortiz Olea</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/65.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Nutricionista</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Nutricionista de la Universidad del Bío-Bío y especialista en Obesidad y Diabetes por Instituto de Nutrición y Tecnología de los Alimentos de la Universidad de Chile (INTA). Magister en Gestión y Educación de la Universidad de Madrid, Diplomado en Ejercicio y Salud de la Universidad de Chile y Diplomado en Educación en Salud por la Universidad del Desarrollo.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Cristián Bravo Palma</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/78.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Odontología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Cirujano Dentista por la Universidad de Chile. Magíster en Investigación Clínica y de Materiales en Odontología, Universidad Internacional de Cataluña, España y Doctor en Odontología por la misma casa de estudios. Diplomado en Administración de Salud, Fac. Ciencias Económicas y Administrativas por la Universidad de Chile.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Ricardo Colvin Trucco</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/24.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Oftalmología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Glaucoma</span>
                        <span class="tituloD"></span>
                        <span class="descripcion">Catarata y Cirugía Refractiva</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripción:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad del Desarrollo (2009), y especialista en Oftalmología por el Instituto Barraquer de América. Especialista en Polo Anterior y Cirugía Refractiva por la Fundación Oftalmológica los Andes.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dra. Karen Apablaza García</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/90.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Pediatría</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Pediatría general</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripcion:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad de los Andes (2010), y especialista en Pediatría por la Universidad de Chile.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Pía Cumsille Rivera</label><br>
            <div class="caja">
                <img class="imagen" src="https://randomuser.me/api/portraits/women/9.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Psicología</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Neuropsicología general, Trastornos del Neurodesarrollo, Deterioro cognitivo en trastornos psiquiátricos, Demencias</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripcion:</span>
                        <span class="descripcion">Psicóloga Clínica por la Universidad de los Andes (2005). Diplomado en Neuropsicología por la Universidad de Chile y la Pontificia Universidad Católica de Chile.</span>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-file-earmark-medical" viewBox="0 0 16 16">
                <path d="M7.5 5.5a.5.5 0 0 0-1 0v.634l-.549-.317a.5.5 0 1 0-.5.866L6 7l-.549.317a.5.5 0 1 0 .5.866l.549-.317V8.5a.5.5 0 1 0 1 0v-.634l.549.317a.5.5 0 1 0 .5-.866L8 7l.549-.317a.5.5 0 1 0-.5-.866l-.549.317V5.5zm-2 4.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 2a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
            <label class="subtitulo">Dr. Alex Carocca Miranda</label><br>
            <div class="cajafinal">
                <img class="imagen" src="https://randomuser.me/api/portraits/men/80.jpg">
                <div class="texto">
                    <div class="contenedor">
                        <span class="tituloD">Especialidad: </span>
                        <span class="descripcion">Psiquiatría</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Área de interés:</span>
                        <span class="descripcion">Psiquiatría general, Trastornos del ánimo, Trastornos de personalidad</span>
                    </div>
                    <div class="contenedor">
                        <span class="tituloD">Descripcion:</span>
                        <span class="descripcion">Médico Cirujano por la Universidad de los Andes (2015). Especialista en Psiquiatría de Adultos por la Universidad de los Andes (2019). Postítulo en Psicoterapia Psicoanalítica Focal por la Corporación Salvador-Universidad de Chile.</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>