<div class="parallax"> 
    <div class="titulo">
          <span class="urgencias">Urgencias</span>
      </div>

      <ul>
          <li>
              <label class="subtitulo">Urgencia</label>
              <div class="caja">
                  <div class="cajatext">
                      <span class="texto">La Unidad de Urgencia de Clínica Lorem ipsum presta atención médica durante las 24 horas, 
                          todos los días del año, para responder a los requerimientos de pacientes adultos y pediátricos, con acceso permanente a especialistas.
                          Además de brindar una atención rápida y adecuada ante distintas situaciones de emergencia, el equipo de médicos, 
                          enfermeras y técnicos paramédicos, busca plasmar el sello de un trato personalizado, cálido, amable y centrado.</span>
                  </div>
                  <img class="imagen" src="https://s03.s3c.es/imag/_v0/700x420/9/c/e/hospital-camilla.jpg">
              </div>
          </li>
          <li>
              <label class="subtitulo">Rescate</label>
              <div class="cajafinal">
                  <div class="cajatext">
                      <span class="texto">Durante este año, hasta mayo, la Unidad de Rescate de Clínica Lorem ipsum ha realizado más de 1.800 rescates
                          terrestres y 30 aéreos. La mayoría han sido para dar atención a víctimas de accidentes de tránsito o
                          de tipo doméstico, lesiones deportivas, entre otros eventos traumáticos.
                          Parte importante de estos eventos ocurren lejos de centros asistenciales, por lo que la rapidez con que llegue el 
                          equipo de rescate es vital para salvar la vida de la víctima o prevenir secuelas.</span>
                  </div>
                  <img class="imagen" src="https://d51h1y0hva8v.cloudfront.net/images/default-source/importacion/rescate-t.tmb-casdesktop.jpg?sfvrsn=b55c9635_2">
              </div>
          </li>
      </ul>
  </div>