 <div class="fondo"> 
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active "data-bs-interval="5000">
          <img src="https://www.ucentral.cl/ucentral/site/artic/20201222/imag/foto_0000000220201222135307/Foto-CT-_impacto_salud_mental.jpg" height="600px" class="d-block w-100" alt="...">
          <div id="cajaaa" class="carousel-caption d-none d-md-block">
            <h4 class="desc">Nuestro equipo</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum. </p>
          </div>
        </div>
        <div class="carousel-item " data-bs-interval="5000">
          <img src="https://cdn.discordapp.com/attachments/843215951306424330/851971432703197184/Hospital.jpg" height="600px" class="d-block w-100" alt="...">
          <div id="cajaaa" class="carousel-caption d-none d-md-block">
            <h4 class="desc">Nuestras instalaciones </h4>
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum.</p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="https://sanjuanhoy.com/download/multimedia.normal.a7b1c6b23d048a70.636f6e73756c7461206d6564696361206f6e6c696e655f6e6f726d616c2e6a7067.jpg"  height="600px" class="d-block w-100" alt="...">
          <div id="cajaaa" class="carousel-caption d-none d-md-block">
            <h4 class="desc">Especialistas </h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti unde ducimus ea sequi aspernatur, dolorem vel libero aperiam maiores ut beatae fugiat quam possimus exercitationem laudantium, eligendi reiciendis eum illum.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="nosotros">
      <div class="containerN">
        <img class="imgNosotros" src="../../../assets/imagen nuestra vision.png">
        <span class="textN">Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>Odit reprehenderit modi officia ratione atque numquam incidunt nisi maxime perspiciatis nam est veritatis, qui id harum, rerum suscipit nobis amet adipisci? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero consequuntur reiciendis laborum exercitationem doloremque tenetur provident voluptates id velit, consequatur laudantium molestiae sint, blanditiis perspiciatis? Molestias assumenda dicta aliquid sunt? </span>
      </div>
    </div>
</div>