<div class="titulo">
    <span class="citas">Lista de Citas</span>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Rut paciente</th>
                <th scope="col">Médico</th>
                <th scope="col">Especialidad</th>
                <th scope="col">Motivo</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cita of listaCitas2">
                <th>{{cita.idcitas}}</th>
                <td>{{cita.paciente_Rut}}</td>
                <td>{{cita.id_medico}}</td>
                <td>{{cita.especialidad}}</td>
                <td class="descripcion">{{cita.motivo}}</td>
                <td class="descripcion">{{cita.descripcion}}</td>
                <td>{{cita.estado}}</td>
                <td>{{cita.fecha}}</td>
                <td>{{cita.hora}}</td>
        </tbody>

    </table>
</div>